@{
    ViewData["Title"] = "Kontakty";
}

<div class="row">
        <div class="col justify-content-center">
            <div class="text-center">
                Vzory.cz o.s. <br />
                Plzeňská 97<br />
                150 00 Praha 5<br />
                <hr class="mx-2" />
                Mgr. Přemysl Líbal<br />
                Mgr. Martin Podhorský<br />
                <hr class="mx-2" />
                <a href="mailto:redakce@vzory.cz">redakce@vzory.cz</a>
            </div>
        </div>
    </div>
