@model ChangePasswordViewModel

@{
    ViewData["Title"] = "Změna hesla";
}

<div class="container">
    <form method="post">
    <div class="row mt-4 text-center"> 
        <h1 class="mb-0">Změna hesla</h1>
    </div>
    <div class="row justify-content-center">
        <div class="col-3 col-md-1">
            <hr class="mb-md-5"/>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-4">
            <div class="form-group mb-2 mb-md-0">
                <label asp-for="CurrentPassword" class="fw-bold"></label>
                <input asp-for="CurrentPassword" class="form-control" placeholder="Vaše aktuální heslo"/>
                <span asp-validation-for="CurrentPassword" class="text-danger fw-bold"></span>
            </div>
        </div>
        <div class="col-12 col-md-4 mt-3 mt-md-0">
            <div class="form-group mb-2 mb-md-0">
                <label asp-for="NewPassword" class="fw-bold"></label>
                <input asp-for="NewPassword" class="form-control" placeholder="Nové SuperSilnéHeslo"/>
                <span asp-validation-for="NewPassword" class="text-danger fw-bold"></span>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="form-group">
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" class="form-control" placeholder="Nové SuperSilnéHeslo"/>
                <span asp-validation-for="ConfirmPassword" class="text-danger fw-bold"></span>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 col-md-4 text-center mt-4">
            <button type="submit" class="btn btn-outline-success btn-lg">Uložit</button>
            <a asp-action="Detail" class="btn btn-outline-danger btn-lg">Zrušit</a>
        </div>
    </div>
    </form>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
